<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize/normalize.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/5c7edfd842.js" crossorigin="anonymous"></script>
    <title>Bibliotecas de Provas UCAN</title>
</head>

<body>

    <h1 class="h1-text-title">Biblioteca de Provas e Materiais da <span class="span-text-title">UCAN</span> </h1>
    <p class="p-text-title">Este repositório tem o objectivo de armazenar exemplos <br> de provas passadas e materiais,
        que podem ajudar os <br> estudantes a se prepararem tais cadeiras.</p>
    <span class="blue-rectangule"></span>
    <a class="link-github" href="https://github.com/Creuma-Kuzola/Biblioteca-de-provas-e-materiais"
        target="_blank">GitHub</a>

        <img src="img/radix-icons_hamburger-menu.svg" alt="Open Icon" class="open-menu menu-button" >

    <div id="menu" class="main-menu">
        <img src="img/codicon_close.svg" alt="Close Icon" class="close-menu menu-button" >


        <div class="content-table-container">
            <details>
                <summary class="details-summary">Engº Informática </summary>

                <details class="details" v-for="(objectoAno, ano) in engInformatica">
                    <summary class="details-summary">{{ ano }} </summary>

                    <details v-for="(objectoSemestre, semestre) in objectoAno">
                        <summary class="details-summary">{{ semestre }} </summary>

                        <details v-for="(objectoCadeira, cadeira) in objectoSemestre">
                            <summary class="details-summary">{{ cadeira }} </summary>

                            <ul class="content-list">
                                <li class="content-list--item" v-for="(objectoMaterial, material) in objectoCadeira"
                                    :class="{blue: material == 'Frequências', orange: material == 'Exames', red: material == 'Recursos'}">
                                    <a :href="objectoMaterial.link" class="download-link-of-material" download>{{ material }}
                                        <img class="download-icon" src="img/akar-icons_download.svg"
                                            alt="download-icon">
                                    </a>

                                </li>
                            </ul>
                        </details>
                    </details>
                </details>
            </details>
        </div>
    </div>

    <script src="JS/index.js"></script>
</body>

</html>