*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
}
html {
    font-size: 62.5%;
}

body{
    overflow-x: hidden;
    display: grid;
    place-items: center;
    padding: 0;
    margin: 0;
    background-color: #FBFBFB;
}

@font-face {
    font-family: Rubik;
    src: url('../font/Rubik-Regular.ttf');
}

#root {
  width: 95vw;
  display: flex;
  flex-direction: column;
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
  position: relative;
  align-items: center;
}
.header-title {
  font-size: 7.2rem;
  font-weight: bold;
  display: inline-block;
  width: 50%;
}

.contribute-link {
  padding: 1.5rem 5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  background-color:#00B2FF;
  color: #fff;
  font-weight: medium;
  text-decoration: none;
  text-align: center;
}

.contribute-link:hover {
  background-color:#00B2FF;
}



.search-container {
  width: 100%;
  position: relative;
  display: flex;
  margin: 2rem 0;
  flex-wrap: wrap;
  flex-direction: column;
}
.search-container--top {
  display: flex;
  flex-wrap: wrap;
}
.search-container--element {
  padding: 1rem 2rem;
  margin-right: 2rem;
  display: inline-block;
  font-size: 2rem;
  border: none;
  border-radius: 0.5rem;
  border: 0.2rem solid #c4c4c42b;
  background-color:#c4c4c42b;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.search-container--element:last-child {
  margin-right: 12.5rem;
}

.search-button {
  padding: 1rem 4rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color:#00B2FF;
  font-size: 1.8rem;
  color: #fff;
}
.search-button:hover {
  background-color:#00B2FF;
}

.assigment-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 5rem 0;
}

.assigment-item {
  width: 25rem;
  height: 25.5rem;
  border-radius: 0.5rem;
  position: relative;
  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.103);
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.assigment-item-preview {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}
.assigment-item-hover-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(24, 24, 24, 0.233);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  opacity: 0;
  transition: 0.5s;
}

.assigment-item-hover-container:hover {
  opacity: 1;
}

.hover-container-menu {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}
.hover-container-menu--item {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0.5rem;
  transition: 0.5s;
}

.hover-container-menu--item:hover {
  background-color: #dadada;
}


.hover-container-menu--item-img {
  width: 4.2rem;
  height: 4.2rem;
}

.loading-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.loading-element {
  animation: loading-animation 1s infinite linear;
}
@keyframes loading-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contribute-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.contributers-ilustration {
  position: absolute;
  right: 0;
  top: 0;
  width: 20vw;
  z-index: -1;
}
.create-new-form {
  padding: 1rem 2rem;
  background: #00B2FF;
  font-size: 2rem;
  color: white;
  display: inline-block;
  width: 10%;
  border: none;
  border-radius: 0.5rem;
  margin: 2rem 0;
  cursor: pointer;
}
.create-new-form:hover {
  background-color: #00b3ffbb;
}
.form-container {
  width: 35%;
  padding: 2rem 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.198);
  border-radius: 0.5rem;
  position: relative;
}

.form-container .form-row-line {
  display: flex;
  flex-direction: column;
}
.delete-button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  background-color: #f55151c7;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}
.subject-form-name {
  margin-bottom: 2rem;
}
.delete-button:hover {
  background-color: #f55151;
}
.input-field-text {
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1.4rem;
  color: rgb(34, 34, 34);
  border: 0.1rem solid #5e5d5d;
}
.photo-container {
  display: flex;
  align-items: center;
  height: 10rem;
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #5e5d5d;
  position: relative;
  overflow-x: auto;
}
#files {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.add-more-content {
  position: relative;
  height: 90%;
  width: 20%;
}




.menu-button {
    position: relative;
    display: inline-block;
    transition: 0.5s;
}
.close-menu {
    position: relative;
    margin-left: 88%;
}
.open-menu {
    width: 6.4rem;
    height: 6.4rem;
    position: absolute;
    top: 5%;
    right: 5%;
}
.h1-text-title{
    margin-top: 50vh;
    color: #666666;
    text-align: center;
    font-size: 2.5rem;
}

.p-text-title{
    color: #5e5d5d;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 20vh;
}

.span-text-title{
    color: #00A7CC;
}

.blue-rectangule{

    background-color: #00A7CC;
    width: 10vw;
    height: 1vh;
    margin-right: 80vw;
}

.link-github{

    text-decoration: none;
    color: #666666;
    font-size: 1.4rem;
    margin-top: 2vh;
    margin-right: 86.5vw;
    font-weight: bold;
}

.link-github:hover{

    color: black;
}

.main-menu {
    background: #fbfbfb;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    width: 50%;
    height: 100vh;
    right: 0;
    top: 0;
    position: fixed;
    transition: 0.5s;
    opacity: 0;
}
.content-table-container {
    position: relative;
    width: 90%;
    height: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.details {
    width: 100%;
    
}
.details-summary {
    border-radius: 0.5rem;
    padding: 1rem;
    box-sizing: border-box;
    background-color: rgb(196, 196, 196, 0.17);
    font-size: 1.4rem;
    font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
    margin: 1rem 0;
}
.content-list {
    list-style: none;
}
.content-list--item {
    position: relative;
    border-radius: 0.5rem;
    margin: 1rem 0;
    cursor: pointer;
}
.download-link-of-material {
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    font-weight: bolder;
    display: block;
    padding: 1rem;
    position: relative;
}

.download-icon {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
}
.blue {
    background-color: #00B2FF;
}
.orange {
    background-color: #F5A951;
}
.red {
    background-color: #F55151;
}